
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
        PDX GAMES
        </h1>
        <p>Portland. A land where aggro double-decker cyclists can cut off buses with impunity and polyamorous communists can prepare for our next snow-mageddon. A place so extreme an "X" was put on the end of its airport acronym. Of course, with birds on it. So stay in your car, California, you’re almost to Washington!</p>
    </div>
</div>

<% if user_signed_in? %>
<center>
  <%= link_to "New Hipster Category", new_category_path %>
</center>
<% end %>
<!-- Team Members Row -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Our Team</h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <%= image_tag "bicycle/bicycle_double1.jpg", class: "img-circle img-responsive img-center controlled-image" %>
        <a><h3>Poly-Decker Fixies

        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p></a>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <%= image_tag "Recycle/recycle_car.jpg", class: "img-circle img-responsive img-center controlled-image" %>
        <a><h3>Extreme Recycling
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p></a>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <%= image_tag "bird/bird_car.jpg", class: "img-circle img-responsive img-center controlled-image" %>
        <a><h3>Awesome Adventures in Avian Adhesion
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p></a>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <%= image_tag "drunken/drunken_thongs.jpg", class: "img-circle img-responsive img-center controlled-image" %>
        <a><h3>Drunken Marathon
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p></a>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <%= image_tag "californian/califoregon.jpg", class: "img-circle img-responsive img-center controlled-image" %>
        <a><h3>Most Out-Of-Place Californian
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p></a>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <%= image_tag "beard/beard_ties.jpg", class: "img-circle img-responsive img-center controlled-image" %>
        <a><h3>Put A Beard On IT
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p></a>
    </div>
</div>
<hr>
<%= render @categories %>
